<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/polymer/lib/elements/array-selector.html">
<link rel="import" href="../bower_components/shadycss/apply-shim.html">

<dom-module id="employee-list">
  <template>
    <style>
      :host {
        display: inline-block;
        text-transform: uppercase;
      }

      :host {
        @apply --employee-list;
        --employee-list-item: {
          padding: 5px 10px 10px 15px;
          border: 1px solid #000;
          margin: 5px;
        };
      }

      .inputClass {
        text-transform: uppercase;
      }

      .list-employee-container {
        display: flex;

        justify-content: center;
      }

      .list-employee-container-list {
        max-width: 50%;
      }

      .list-selected-container-list {
        max-width: 50%;
        padding: 38px 0 0 0;
      }

      .item {
        @apply --employee-list-item;
      }

      .less-twenty {
        background-color: var(--employee-list-less-twenty, rgb(234, 168, 237));
      }

       .less-thirty {
         background-color: var(--employee-list-less-thirty, rgb(182, 12, 34));
       }

       .less-fourty {
         background-color: var(--employee-list-less-fourty, rgb(129, 175, 254));
       }

       .less-fitty {
         background-color: var(--employee-list-less-fitty, rgb(210, 221, 83));
       }

       .less-sixty {
         background-color: var(--employee-list-less-sixty, rgb(68, 209, 26));
       }

      .other-age {
        background-color: var(--employee-list-other-age, #bfb3b7);
      }
    </style>
    <div class="list-employee-container">
      <div class="list-employee-container-list">
        <div>
          <span>Filter: </span>
          <input class="inputClass" type="text" value="{{searchString::input}}"><br/>
          <span>Sort: </span>
          <select type="text" name="sortVal" value="{{sortVal::change}}" id="sortVal">
            <option value="first">First Name</option>
            <option value="last">Last Name</option>
            <option value="years">Years</option>
          </select>
        </div>
        <div>Employee list:</div>
        <template is="dom-repeat" id="employeeList" items="[[employees]]" as="people" filter="{{computeFilter(searchString)}}" sort="{{_select(sortVal)}}">
          <div class$="item [[employeColor(people.years)]]">
            <div>First name: <span>[[people.first]]</span></div>
            <div>Last name: <span>[[people.last]]</span></div>
            <div>Years: <span>[[people.years]]</span></div>
            <div>
              <button on-click="toggleSelection">Select</button>
            </div>
          </div>
        </template>
      </div>
      <div class="list-selected-container-list">
        <div>Selected employees</div>
        <template is="dom-repeat" items="[[selected]]">
          <div class$="item [[employeColor(item.years)]]">
            <div>First name: <span>[[item.first]]</span></div>
            <div>Last name: <span>[[item.last]]</span></div>
            <div>Years: <span>[[item.years]]</span></div>
            <div>
              <button on-click="removeSelection">Remove</button>
            </div>
          </div>
        </template>
      </div>
    </div>
  </template>
  <script>
    class EmployeeList extends Polymer.Element {
      static get is(){
        return 'employee-list';
      }

      static get properties() {
        return {
          employees: {
            type: Array,
            value: []
          },
          selected: {
            type: Array,
            value: []
          },
          filterVal: {
            type: String,
            value: ''
          },
          searchString: {
            type: String,
            value: ''
          }
        };
      }

      constructor() {
        super();
        this.employees = [
          {id: 0, first: 'alejandra', last: 'barrales', years: 33, ordered: 0 },
          {id: 1, first: 'beatriz', last: 'canseco', years: 44, ordered: 0 },
          {id: 2, first: 'carla', last: 'damariz', years: 55, ordered: 0 },
          {id: 3, first: 'diana', last: 'fuentes', years: 88, ordered: 0 },
          {id: 4, first: 'fernanda', last: 'rios', years: 22, ordered: 0 },
          {id: 5, first: 'gabriela', last: 'vasquez', years: 17, ordered: 0 },
          {id: 6, first: 'helena', last: 'monrroy', years: 25, ordered: 0 },
          {id: 7, first: 'ilse', last: 'ruiz', years: 30, ordered: 0 },
          {id: 8, first: 'jazmin', last: 'franco', years: 15, ordered: 0 },
          {id: 9, first: 'karina', last: 'zurita', years: 41, ordered: 0 }
        ];
      }

      _filter(val) {
        return (people) => {
          if (!val) return true;
          if (!people) return false;
          return (people.first && ~people.first.indexOf(val));
        };
      }

      _select(value) {
        switch (value) {
          case 'first':
            return (a, b) => {
              if(a.first === b.first) return 0;
              return a.first < b.first ? -1 : 1;
            };
          case 'last':
            return (a, b) => {
              if (a.last === b.last) return 0;
              return a.last < b.last ? -1 : 1;
            };
          case 'years':
            return (a, b) => {
              if (a.years === b.years) return 0;
              return a.years < b.years ? -1 : 1;
            };
        }
      }

      toggleSelection(e) {
        let item = e.model.people;
        const index = this.selected.indexOf(item);
        if(index !== -1) {
          this.splice('selected', index, 1);
        } else {
          this.push('selected', item);
        }
      }

      removeSelection(e) {
        let item = e.model.item;
        const index = this.selected.indexOf(item);
        if(index !== -1) {
          this.splice('selected', index, 1);
        }
      }

      employeColor(years) {
        if (years < 20) {
          return 'less-twenty';
        } else if (years < 30) {
          return 'less-thirty';
        } else if (years < 40) {
          return 'less-fourty';
        } else if (years < 50) {
          return 'less-fitty';
        } else if (years < 60) {
          return 'less-sixty';
        } else{
          return 'other-age';
        }
      }

      computeFilter(string) {
        if (!string) {
          return null;
        } else {
          string = string.toLowerCase();
          return (people) => {
            let first = people.first.toLowerCase();
            let last = people.last.toLowerCase();
            return (first.indexOf(string) !== -1 || last.indexOf(string) !== -1);
          };
        }
      }

      order(e) {
        console.log('click in button!');
        e.model.set('employees.ordered', e.model.item.ordered+1);
      }

    }customElements.define(EmployeeList.is, EmployeeList);

  </script>

</dom-module>
